/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 100%;
  margin: 3rem auto -12rem;
  /*box-shadow: 0px 0px 25px 5px #888888;*/
}
.phone.big {
    display: none;
}
/*.phone + .phone {
  display: none;
}*/

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/yellow.jpeg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: black; /* 11DFC7    red FF5722*/
}

.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .9;
  font-weight: 500;
  font-size: 20px;
  color: black; /* blue 4A90E2 */
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/water.jpeg');
  background-size: cover;
  color: #fff;
}
.categories .section-description {
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) and (max-width: 600px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    max-width: inherit;
    z-index: 3;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
  .phone.big {
      display: none !important;
  }
}

/*@media (min-width: 550px) and (max-width: 568px) {
    .one-half.column {
        width: 100%;
        text-align: center;
    }
    .three.columns {
        width: 100%;
        text-align: center;
        margin-left: 3%;
    }
    .section {
      padding: 12rem 0 11rem;
    }
    .hero {
      padding-bottom: 12rem;
      text-align: left;
      height: 165px;
      padding-top: 9rem;
    }
    .phone {
      position: absolute;
      top: 1rem;
      right: 3rem;
      max-height: 362px;
      max-width: 400px;
      z-index: 3;
    }
    .hero-heading {
      font-size: 2.4rem;
    }
    .phone.big {
        display: none !important;
    }
}*/

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -10rem;
    left: 15%;
    max-height: 600px;
    max-width: 100%;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
  .phone.small {
      display: none !important;
  }
  .phone.big {
      display: block !important;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -15em;
    left: 20%;
    max-height: 600px;
    max-width: 100%;
  }
  .phone.small {
      display: none;
  }
  .phone.big {
      display: block !important;
  }
}

.button-primary {
    border-color: #4A90E2 !important;
    background-color: #4A90E2 !important;
}

.white-text {
    color: white;
}
