// _basics.scss

//  basics for matthamlin.me and other sites

a {
	text-decoration: none;
	&:hover,
	&:active {
		text-decoration: none;
	}
}

.link {
	color: $chambray;
	&:hover {
		color: $jungle-green;
	}
	&--active {
		color: $orange1;
	}

	&--special {
		color: $picton-blue-vone;
		&:hover {
			color: $ecstasy;
		}
	}
}

.inline-block {
	display: inline-block;
}
