@import 'reset';
@import 'breakpoints';
@import 'grid';
@import 'colors';
@import 'typography';
@import 'my_colors';
@import 'vars';
@import 'basics';


// Include the required mixins
@include typography();

// Generic Styles
.body {
	background: radial-gradient(circle at bottom center, $green 0%, $white 100%);
}

.page {
	min-height: 100vh;
	width: 100vw;
}
.header {
	background: transparent;
	color: $green;
	width: 100vw;
	height: 10vh;
	line-height: 10vh;
	text-align: center;
}

.project {
	display: inline-block;
	width: 50vw;
	height: 50vh;
	background: transparent;
	line-height: 50vh;
}

h2.no-margin {
	margin: 0;
}
.full-all {
	width: 100%;
	height: 100%;
}