.card--parent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	align-items: stretch;
}

.card {
	width: 20em;
	margin: 2rem 2rem;
	text-align: center;
	padding: 2rem 2rem;
	/*box-shadow: #DDDDDD 0px 0px 10px 5px;*/
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card--color-orange {
	background-color: #FFB400;
}

.card--color-red {
	background-color: #FF5722;
}
.card--color-blue {
	background-color: #448AFF;
}

.card--nolink {
	text-decoration: none;
	color: black;
	transition: color ease 1s;
}
.card--nolink:hover {
	color: #ffffff;
}
