/* Table of Contents  */
/*
    1. Colors
    2. Utility classes
    3. Content related classes

    Written by Matt Hamlin
    @immatthamlin 2015
*/
/*      COLORS      */
.doc-gray {
    background-color: #DDDDDD;
}
.doc-white{
    background-color: white;
}
.div-blue {
    background-color: #448AFF;
}
.div-red {
    background-color: #FF5722;
}
.div-yellow {
    background-color: #FFC107;
}
.div-white {
    background-color: white;
}
.twitter {
    background-color: #00aced;
}
.facebook {
    background-color: #3b5998;
}
.text-white {
    color: white;
}
.custom-twitter {
    color: #00aced;
}
.custom-facebook {
    color: #3b5998;
}




/*      UTILITY CLASSES     */





.center-text {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    padding-top: 2rem !important;
}
p {
    margin-top: 2.5rem !important;
}
.vert-align {
    font-size: 30px;
}



/*      CONTENT RELATED CLASSES     */

video {
    background-color: black;
    max-width: 100%;
    height: auto;
}


/* Mobile first queries */

.spacer {
    height: 50px;
}
.header-spacer {
    height: 25px;
}

.content-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.content-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    -webkit-transform: translateZ(0);
}
.content-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
}

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.content {
    height: 270px;
    width: 100%;
}

.content-image {
    height: auto;
    width: 100%;
}

/* Larger than mobile */
@media (min-width: 400px) {
    .spacer {
        height: 100px;
    }
    .header-spacer {
        height: 50px;
    }
    .container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .content-container {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;
        min-height: 200px;
    }
    .content-container iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
        -webkit-transform: translateZ(0);
    }
    .content-container video {
        position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
        -webkit-transform: translateZ(0);
    }

}

/* Larger than phablet */
@media (min-width: 550px) {
    .spacer {
        height: 100px;
    }
    .header-spacer {
        height: 50px;
    }
    .container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .content-container {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;
        min-height: 200px;
    }
    .content-container iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
        -webkit-transform: translateZ(0);
    }
    .content-container video {
        position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
        -webkit-transform: translateZ(0);
    }

}

/* Larger than tablet */
@media (min-width: 750px) {
    .spacer {
        height: 100px;
    }
    .header-spacer {
        height: 50px;
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .content-container {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;
        min-height: 200px;
    }
    .content-container iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
        -webkit-transform: translateZ(0);
    }
    .content-container video {
        position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
        -webkit-transform: translateZ(0);
    }

}

/* Larger than desktop */
@media (min-width: 1000px) {
    .spacer {
        height: 100px;
    }
    .header-spacer {
        height: 50px;
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .content-container {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;
        min-height: 200px;
    }
    .content-container iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
        -webkit-transform: translateZ(0);
    }
    .content-container video {
        position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
        -webkit-transform: translateZ(0);
    }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .spacer {
        height: 100px;
    }
    .header-spacer {
        height: 50px;
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .content-container {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;
        min-height: 200px;
    }
    .content-container iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
        -webkit-transform: translateZ(0);
    }
    .content-container video {
        position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
        -webkit-transform: translateZ(0);
    }

}
